<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
</head>
<body>

<h1>Login Page</h1>
<form action="loggedIn" method="get">

<label for="email">Email :</label> <br/>
<input type="email" name="email"/> <br/>

<label for="password">Password :</label> <br/>
<input type="password" name="passwd"/> <br/>

<button type="submit">Login</button>


</form>
<br/>
<form action="register" method="get">
<button type="submit">Register</button>
</form>

<label for="loginFailedMsg">LoginFailed</label> <br/>

</body>
</html>